@using OnlineCourseSystem.ViewModels;
@using OnlineCourseSystem.ViewModels.Service
@model IEnumerable<ServiceViewModel>;

<div class="row justify-content-center">
    <div class="row  justify-content-center">
        @if (Model.Any())
        {
            @foreach (var service in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex">
                    <a asp-route-id="@service.Id" asp-action="Service" asp-controller="Home">
                        <div class="our-services-list serviceCard">
                            <div class="service-icons">
                                <img src="@service.ImageUrl" style="height:220px;width:220px;" alt="service image">
                            </div>
                            <h4>@service.Name</h4>
                            <p>@Html.Raw(@service.ShortDescription)</p>
                        </div>
                    </a>
                </div>
            }
        }
        else
        {
            <div class="col-lg-3 col-md-4 col-sm-12 d-flex">
                <h3>No services found.</h3>
            </div>
        }
    </div>
</div>
