@using OnlineCourseSystem.ViewModels.StudyMaterial
@using static OnlineCourseSystem.Constants.ModelConstants
@model IEnumerable<StudyMaterialViewModel>;
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Study Materials";
}

@section header{
    <h3 class="content-header-title">Study Materials</h3>
    <div class="row breadcrumbs-top">
        <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="StudyMaterials" asp-action="Index">Study Materials</a>
                </li>
                <li class="breadcrumb-item">
                    <a>List</a>
                </li>
            </ol>
        </div>
    </div>
}

@section headerMenu
{
    <a class="btn box-shadow-2 px-2 mb-1 AddEditBtn"
       data-ajax="true"
       data-ajax-update="#DivModalTarget"
       data-ajax-begin="blockUI"
       data-ajax-complete="unblockUI"
       data-toggle="tooltip"
       asp-action="Add"
       asp-controller="StudyMaterials">
       <i class="fa fa-plus-circle" style="margin-right:5px;font-size:17px;"></i>
        New
    </a>
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row ">
                    <div class="col-md-12 ">
                        <div class="table-responsive">
                            <table class="table align-items-center table-sm " id="StudyMaterialsTable">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Title</th>
                                        <th>Type</th>
                                        <th>File</th>
                                        <th>Priority</th>
                                        <th>Published</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var material in @Model)
                                    {
                                        string bgColor = "white";
                                        if (material.IsPublished)
                                        {
                                            bgColor = "#F0FCF5";
                                        }
                                        <tr style="background-color:@bgColor">
                                            <td>
                                                <img height="120" width="120" src="@material.ImageUrl" />
                                                <div class="text-center" style="margin-top:5px;">
                                                    <a data-ajax="true"
                                                        data-ajax-update="#DivModalTarget"
                                                        data-ajax-begin="blockUI"
                                                        data-ajax-complete="unblockUI"
                                                        data-toggle="tooltip"
                                                        asp-action="UploadStudyMaterialFile"
                                                        asp-controller="StudyMaterials"
                                                        asp-route-id="@material.Id"
                                                        asp-route-type="@FileTypes.Image">
                                                        <i class="fa fa-upload"> Upload</i></a>
                                                </div>
                                                
                                            </td>
                                            <td>@material.Title</td>
                                            <td>@material.StudyMaterialTypeName</td>
                                            <td>
                                                @if (material.StudyMaterialTypeName == FileTypes.Video)
                                                {
                                                    if (!string.IsNullOrEmpty(material.FileName))
                                                    {
                                                        <div class="text-center">
                                                            <a data-ajax="true"
                                                               data-ajax-update="#DivModalTarget"
                                                               data-ajax-begin="blockUI"
                                                               data-ajax-complete="unblockUI"
                                                               data-toggle="tooltip"
                                                               asp-action="ViewUploadedFile"
                                                               asp-controller="StudyMaterials"
                                                               asp-route-id="@material.Id">
                                                                <b>View Video</b>
                                                            </a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="text-center">
                                                            <a data-ajax="true"
                                                               data-ajax-update="#DivModalTarget"
                                                               data-ajax-begin="blockUI"
                                                               data-ajax-complete="unblockUI"
                                                               data-toggle="tooltip"
                                                               asp-action="UploadStudyMaterialFile"
                                                               asp-controller="StudyMaterials"
                                                               asp-route-id="@material.Id"
                                                               asp-route-type="@FileTypes.Video">
                                                               <i class="fa fa-upload"> Upload a Video</i>
                                                            </a>
                                                        </div>
                                                    }
                                                }
                                                else if (material.StudyMaterialTypeName == FileTypes.Pdf)
                                                {
                                                    if (!string.IsNullOrEmpty(material.FileName))
                                                    {
                                                        <div class="text-center">
                                                            <a data-ajax="true"
                                                               data-ajax-update="#DivModalTarget"
                                                               data-ajax-begin="blockUI"
                                                               data-ajax-complete="unblockUI"
                                                               data-toggle="tooltip"
                                                               asp-action="ViewUploadedFile"
                                                               asp-controller="StudyMaterials"
                                                               asp-route-id="@material.Id">
                                                               <b>View Pdf</b>
                                                            </a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="text-center">
                                                            <a data-ajax="true"
                                                               data-ajax-update="#DivModalTarget"
                                                               data-ajax-begin="blockUI"
                                                               data-ajax-complete="unblockUI"
                                                               data-toggle="tooltip"
                                                               asp-action="UploadStudyMaterialFile"
                                                               asp-controller="StudyMaterials"
                                                               asp-route-id="@material.Id"
                                                               asp-route-type="@FileTypes.Pdf">
                                                                <i class="fa fa-upload"> Upload a Pdf</i>
                                                            </a>
                                                        </div>
                                                    }
                                                }
                                            </td>
                                            <td> @material.Priority</td>
                                            <td> @material.IsPublished</td>
                                            <td class="text-center">
                                                <div>
                                                    <a data-ajax="true"
                                                       data-ajax-update="#DivModalTarget"
                                                       data-ajax-begin="blockUI"
                                                       data-ajax-complete="unblockUI"
                                                       data-toggle="tooltip"
                                                       asp-action="Edit"
                                                       asp-controller="StudyMaterials"
                                                       asp-route-id="@material.Id">Edit</a>
                                                    <span> | </span>
                                                    <a data-ajax="true"
                                                        data-ajax-update="#DivModalTarget"
                                                        data-ajax-begin="blockUI"
                                                        data-ajax-complete="unblockUI"
                                                        data-toggle="tooltip"
                                                        asp-action="Delete"
                                                        asp-controller="StudyMaterials"
                                                        asp-route-id="@material.Id">
                                                        <span class="text-danger">Delete</span>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {

            $(".navItems").removeClass("active");
            $("#StudyMaterialsNavId").addClass("active");

            $("#StudyMaterialsTable").dataTable(
                {
                    bLengthChange: true,
                    bPaginate: true,
                    ordering: true,
                    language: {
                        search: "",
                        searchPlaceholder: "Search this list...",
                    }
                });

        });
    </script>
}